.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.button{
    background-color: rgb(245, 150, 16);
    border: none;
    border-radius: 3px;
    padding: 30px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(188, 111, 2);
    
}

.button:active{
    background-color: rgb(192, 156, 105);
    
}

.display{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    border: none;
    padding: 22px;
    color: black;
    background-color: black;
}

label{
    color: black;
}

input{
    padding: 5px;
    border-radius: 5px;
}